/* Body */
body {
	background-image: 
			linear-gradient(rgba(63, 63, 68, .45), rgba(63, 63, 68, .45)), 
	    	url("tutor.jpeg");
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: #3F3F44;
}
footer {
	padding: 15px;
	color: #F7F7F7;
}
footer a {
	color: #F7F7F7;
}


/* Navigation Bar */
#nav-bar {
	position: fixed;
	width: 100%;
	height: 40px;
	padding-top: 20px;
	background-color: rgba(63, 63, 68, .9);
}
.nav {
	color: #DDFFCA;
	text-decoration: none;
	font-size: 20px;
	padding: 25px;
}
.nav-link {
	color: #DDFFCA;
	text-decoration: none;
	font-size: 15px;
	padding: 25px;
}
.nav-link:hover {
	color: #F7F7F7;
}
#right-align {
	float: right;
}
@media (max-width: 650px) {
	#corner {
		display: none;
	}
	#nav-bar {
		display: flex;
		justify-content: space-evenly;
	}
	
}


/* Header */

#top.lessons {
	height: 35vh;
}
#bottom {
	height: 100px;
}

h1 {
	margin-top: 0;
	color: #DDFFCA;
	font-size: 80px;
	text-align: center;
	padding: 35vh 15px;
	font-family: 'Roboto', sans-serif;
}
h1.lessons {
	padding: 15vh;
}
@media (max-width: 550px) {
	h1 {
		padding: 30vh 15px;
	}
}



/* Middle */
#infographic {
	background-color: rgba(247, 247, 247, .7);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	margin: 30px;
	padding: 20px;
}
.icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 25%;
	width: 80px;
}
.divider {
	padding: 0 20px;
	width: 30%;
}
.circle {
	background-color: #9BB38D;
	height: 20vw;
	max-height: 180px;
	min-height: 150px;
	width: 20vw;
	max-width: 180px;
	min-width: 150px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}
h4 {
	font-size: 25px;
}
@media (max-width: 650px) {
	#infographic {
		flex-direction: column;
		padding-bottom: 10px;
	}
	.circle {
		height: 100px;
		width: 100px;
	}
	.icon {
		width: 80px;
	}
	.divider {
		width: 90%;
	}
}



/* Home Page */
h2 {
	text-align: center;
	color: #F7F7F7;
	background-color: #9BB38D;
	margin: 0;
	padding: 20px;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
}
#about {
	display: flex;
	flex-direction: row;
	line-height: 25px;
	background-color: #F7F7F7;
}
.column {
	margin: 10px;
	width: 50%;
	padding: 10px;
}
h3 {
	text-align: center;
	color: #9BB38D;
	font-family: 'Roboto', sans-serif;
}
.picture {
	height: 250px;
	width: 250px;
	float: left;
	margin-right: 10px;
	object-fit: cover;
	padding: 10px 10px 10px 0;
}
#heading {
	font-size: 30pt;
	font-weight: bold;
	color: #F7F7F7;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
#family {
	background-color: rgba(63, 63, 68, .95);
	padding: 45px;
	color: #F7F7F7;
	line-height: 25px;
	border-style: solid;
	border-color: #F7F7F7;
	border-weight: 5px;
}
#better-score {
	background-color: rgba(221, 255, 202, .7);
	padding: 45px;
	line-height: 25px;
	border-style: solid;
	border-color: #F7F7F7;
	border-weight: 5px;
}
#background {
	background-color: rgba(63, 63, 68, .95);
	padding: 45px;
	color: #F7F7F7;
	line-height: 25px;
	border-style: solid;
	border-color: #F7F7F7;
	border-weight: 5px;
}
@media (max-width: 900px) {
	#about {
		flex-direction: column;
		align-items: center;
	}
	.column {
		width: 90%;
	}
	.picture {
		width: 40%;
	}
}

/*Carousel*/
.testimonials_track {
	background-color: #9BB38D;
	padding: 20px;
	margin: 30px;
	text-align: center;
}



/*Private Lessons Page*/
#about.box {
	margin: 0 15px;
}
#discount {
	text-align: center;
	color: #F7F7F7;
	text-decoration: none;
	background-color: #9BB38D;
	padding: 7px;
	font-size: 12pt;
	font-weight: normal;
	margin-bottom: 30px;
}
.classes {
	text-decoration: none;
	font-weight: normal;
	border-radius: 10px;
}
h5 {
	font-size: 15pt;
	line-height: 30pt;
	font-weight: normal;
}
#important {
	border-style: dotted;
	border-width: 5px;
	border-color: #DDFFCA;
}
#note {
	background-color: #ddffca;
	margin: 0 15px;
	padding: 5px 50px;
	font-size: 12pt;
}
h2.question {
	margin-top: 50px;
	color: #DDFFCA;
	background-color: transparent;
	text-decoration: none;
	font-size: 40px;
	text-align: center;
}
#info-contact {
	color: #3F3F44;
	font-weight: bold;
}


/* Contact Us Page */
#contact {
	line-height: 35px;
	background-color: #F7F7F7;
	padding: 25px;
	margin: 0 10px;
	font-size: 13pt;
}
iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
}